# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ='p4sta.w1th-b0logn3s3-s@uce'

# Mongo DB
# Local development
MONGODB_URI='mongodb://localhost:27017/hiroek'
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

REDIS_URI='redis://localhost:6379'

# Port
PORT=3000

# Debug
LOG_LEVEL='silly'
ROLLBAR_ACCESS_TOKEN=

MAILGUN_API_KEY='1212312312312'
MAILGUN_USERNAME='api'
MAILGUN_DOMAIN='my-domain.com'

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=heroik-s3
AWS_S3_REGION_NAME=eu-central-1

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

NODE_ENV=development

STRIPE_API_KEY=
STRIPE_WEBHOOKSECRET=
